<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:icon="@drawable/surebet_dual_icon"
        android:roundIcon="@drawable/surebet_dual_icon"
        tools:replace="android:icon,android:roundIcon" />
</manifest>
